<mat-toolbar color='accent'>
    <h3 maLine>Cadastro</h3>
</mat-toolbar>

<div display="flex" style="align-items: center; flex-direction: column;">
    <form [formGroup]"createForm">
        <div>
            <mat-input-container >
              <label>Modelo</label>
              <input type="text" matInput style="border-style:solid;" formControlName="model">
            </mat-input-container>
            <mat-input-container >
                <label>Preço</label>
                <input type="text" matInput style="border-style:solid;" formControlName="price">
            </mat-input-container>
            <mat-input-container >
                <label>Marca</label>
                <input type="text" matInput style="border-style:solid;" formControlName="brand">
            </mat-input-container>
            <mat-input-container >
                <label>Url da Foto</label>
                <input type="text" matInput style="border-style:solid;" formControlName="imageLink">
            </mat-input-container>
            <mat-input-container >
                <label>Data</label>
                <input type="text" matInput style="border-style:solid;" formControlName="date">
            </mat-input-container>
            <div class="button-row">
                <button mat-button color="primary" (click)="create()">Cadastrar </button>
            </div>
        </div>
    </form>
</div>

<div>
    <h3 matLine>Lista de dispositios:</h3>

    <mat-list>
        <mat-list-item>

        </mat-list-item>
    </mat-list>
</div>
